<section>

  <div class="about-container">

  <div class="skills">

    <div class="row-1">

      <div class="icon-html hover-tab">{% include icons/icon-html.html %}
        <span class="hover-text">HTML</span>
      </div>

      <div class="icon-css hover-tab">{% include icons/icon-css.html %}
        <span style="width: 42px; left: 16px;" class="hover-text">CSS</span>
      </div>

      <div class="icon-sass hover-tab">{% include icons/icon-sass.html %}
        <span class="hover-text">SASS</span>
      </div>

    </div>

    <div class="row-2">

      <div class="icon-js hover-tab">{% include icons/icon-js.html %}
        <span style="width: 75px; left: -1px" class="hover-text">JavaScript</span>
      </div>

      <div class="icon-java hover-tab">{% include icons/icon-java.html %}
        <span style="width: 45px; left: 14px" class="hover-text">Java</span>
      </div>

      <div class="icon-cplusplus hover-tab">{% include icons/icon-cplusplus.html %}
        <span style="width: 40px; left: 17.5px" class="hover-text">C++</span>
      </div>

    </div>

  </div>

  <div class="about">

    <h3>About</h3>

    <p>
      Hi, I'm Sabrina.
      <br><br>
      I'm a <b>Mathematics</b> student at the <b>University of
      British Columbia</b> with a passion for <b><a href="">computer science</a></b>
      and <b>cake</b>.
    </p>

  </div>

</div>

</section>
