<section id="about" 
  class="about__section"
  data-offset="3000"
  data-split="1"
  data-bg-color="#F5F5F7" 
  data-text-color="#232325"
>
  <div class="wrapper">
    <div class="about__wrapper">
      <div class="about__content__wrapper">
        <h1 class="about__heading">
          <span class="about__heading--primary splt">hey there, </span>
          <span class="splt">i’m Sabrina.</span>
        </h1>
        <div class="about__body__wrapper">
          <div class="about__body__line"></div>
          <p class="about__body animate-text">
            I am a frontend developer based in British Columbia, Canada. I am passionate about creating stunning interfaces and bringing them to life, combining clean aesthetics with seamless functionality. Oh, and also hamsters.
            <br><br>
            I am proactive, curiosity-driven, and forward-thinking. 
            <a href="#contact">Get in touch</a>
          </p>
        </div>
        <div class="about__skills__wrapper">
          <h4 class="about__skills__heading">things i'm good at</h4>
          <div class="about__skills__content">
            <div class="about__skills__icon">
              {% include icons/html.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/css.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/javascript.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/react.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/liquid.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/shopify.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/git.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/gsap.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/figma.svg %}
            </div>
            <div class="about__skills__icon">
              {% include icons/adobexd.svg %}
            </div>
          </div>
        </div>
      </div>

      <div class="about__image__wrapper">
        <img class="about__image lazy-load" src="/assets/img/about-accent.png"/>
      </div>
    </div>
  </div>
</section>