<section id="contact" 
  class="contact__section"
  data-offset="2000"
  data-split="5"
  data-bg-color="#232325" 
  data-text-color="#F5F5F7"
>
  <div class="wrapper">
    <div class="contact__wrapper">
      <div class="contact__container">
        <h2 class="contact__heading splt">get in touch</h2>
        <p class="contact__body">Ask to see a picture of my hamster.</p>
        <div class="contact__links">
          <a href="https://www.linkedin.com/in/sabrina-ren-b33429211/" target="_blank">
            <div class="contact__icon">
              {% include icons/linkedin.svg %}
            </div>
          </a>
          <a href="https://github.com/yh-ren" target="_blank">
            <div class="contact__icon">
              {% include icons/github.svg %}
            </div>
          </a>
          <a href="mailto:sabrina.ren@outlook.com" target="_blank">
            <div class="contact__icon">
              {% include icons/email.svg %}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright__wrapper">
    <div class="copyright">
      <p>© Sabrina Ren 2024</p>
    </div>
  </div>
</section>