<section class="section-contacts">

  <h3>Contact</h3>

  <div class="contact">
    <a href="" target="_blank" style="left: 0%; right: 66%" class="fas fa-envelope">
      <div class="contact-text">sabrina.ren@outlook.com</div>
    </a>
    <a href="http://github.com/yh-ren" target="_blank" style="left: 33%; right: 33%" class="fab fa-github">
      <div class="contact-text">github.com/yh-ren</div>
    </a>
    <a href="" target="_blank" style="left: 66%; right: 0%" class="fab fa-codepen">
      <div class="contact-text">codepen.com/yhren</div>
    </a>
  </div>

</section>
