<section class="alt-section project-section">

      <h3 id="#portfolio">Portfolio</h3>

      <div class="project-slider">

        <div class="overview-wrap">
          <div class="project-overview">

          {% for project in site.data.settings.projects %}

          <a class="project-unit" data-folder="{{ project.folder }}" style="background-image: url(/assets/img/portfolio/{{ project.folder }}/thumbnail.png)">
            <div class="project-title-overlay">
              <b>{{ project.name }}</b>
              <div class="zoom-icon">{% include icons/icon-zoom.html %}</div>
            </div>
          </a>

          {% endfor %}

        </div>
        </div>

        <div class="details-wrap">
          <div class="project-details">
            <div class="icon-return">{% include icons/icon-return.html %}</div>
            <h2 class="project-title">Stuff</h2>
            <div class="project-load"></div>
          </div>
          </div>

      </div>

</section>
