section

  .about-container
    max-width: 900px
    height: 250px
    position: relative
    margin: auto
    padding-top: 115px
    padding-bottom: 100px

    @media screen and (max-width: 1100px)
      height: 500px

  .about
    float: right
    max-width: 450px
    padding-top: 15px

    @media screen and (max-width: 1100px)
      float: none
      position: relative
      margin: auto
      padding-bottom: 30px

    h3
      color: $accent
      @extend %ab-bold-large
      text-align: center
      margin: 0

    p
      color: $text-general
      font-family: Arial
      font-size: 22px
      text-align: center

    a
      text-transform: none
      text-decoration: none
      color: $accent

  .skills
    float: left
    max-width: 400px

    @media screen and (max-width: 1100px)
      float: none
      position: relative
      margin: auto
      padding-bottom: 30px

    .row-1
      display: flex

    .row-2
      display: flex

    [class^="icon-"]
      width: 75px
      height: 75px
      margin: 20px 0 10px 40px
      color: $accent
      background: #eee
      border-radius: 50%
      // @include transition(200ms)

      // &:hover
        transform: scale(1.2)
