footer
  height: 50px
  background: #fff

  .all-rights-reserved
      text-align: center
      color: $text-general
      @extend %ab-bold-med
      font-size: 13px
      font-family: Arial
      letter-spacing: 0.05em
      padding-top: 20px
