header
  height: 830px
  background: url(../img/header-bg.png) center center
  background-size: cover

  nav
    float: right
    margin: 0

    a
      display: inline-block
      margin: 22px 32px 0 0

      color: #fff
      text-decoration: none
      @extend %ab-bold-med

      &:hover
        color: $accent

  h1
    text-align: center
    color: white
    @extend %ab-bold-med
    font-size: 70px
    margin: 0 auto 5px
    clear: both
    padding-top: 300px

  .desc
    text-align: center
    color: $accent
    @extend %ab-bold-med
    font-size: 22px
    margin: 5px
